<!DOCTYPE html>
<html>
<head>
  <title>Enum timestamps</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "enum_timestamps/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
